<div class="text-center">
    <!-- <input class="form-control" type="file" accept=".csv" (change)="onChange($event)"> -->

<br/><br/>
    <div class="uploadWrapper">
        <form #form="ngForm" id="imageUploadForm" enctype="multipart/form-data" class="imageUploadForm">
            <span class="helpText" id="helpText">Please select a .csv file</span>
            <input #imageInput1 type='file' name="file" id="file" (change)="onChange($event)" class="uploadButton"
                accept=".csv" required />
            <div id="uploadedImg" class="uploadedImg">
                <span class="unveil"></span>
            </div>
            <!-- <span class="pickFile">
                <a href="#" class="pickFileButton">Pick file</a>
            </span> -->
            <!-- <div class="row">
                <button
                  type="submit"
                  class="btn btn-light m-2"
                  [disabled]="!form.valid"
                >
                  Update
                </button>
                <button
                  type="button"
                  class="btn btn-danger m-2"
                  data-dismiss="modal"
                >
                  close
                </button>
              </div> -->
        </form>
    </div>
<p *ngIf="upload">Do you want to upload {{fileName}} ?</p>
    <button *ngIf="upload" class="btn btn-dark pickFileButton" (click)="onUpload()" >
      
        Upload
    </button>
    <p *ngIf="getgraph">Upload Successful!</p>
    <button (click)="getData()" *ngIf="getgraph" class="btn btn-dark getGraph">
       Initiate graph
    </button>

  

</div>


<!-- <div class="field">
    <mat-form-field class="formfield" appearance="outline">
        <mat-label>Enter duration of validity</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range" required>
            <input matStartDate formControlName="start" placeholder="Valid from">
            <input matEndDate formControlName="end" placeholder="Valid till">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

 <button (click)="datepicker()"  class="btn btn-success">
    upadate
</button> 
</div> -->

<div class="row">

    <div class="col-md-12">
       
        <div class="card card-chart" style="border-color: ivory;">
            <div class="card-header"
                style="border-radius: 15px; background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(29, 42, 56) 0%, rgba(90,92,106,1) 81.3% );">
                <h5 style="color: white;">Grpah for {{fileName}}</h5>
                <div class="row" style="float: right">
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-danger btn-simple" (click)="
                      data = datasets[0];
                      updateOptions();
                      clicked = true;
                      clicked1 = false;
                      clicked2 = false;
                      clicked3 = false;
                      clicked4 = false;
                      clicked5 = false;
                    " [ngClass]="{ active: clicked === true }">
                                <input class="d-none d-sm-none" name="options" type="radio" />

                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                   Open
                                </span>
                             
                            </label>
                            <label class="btn btn-sm btn-danger btn-simple" (click)="
                      data = datasets[1];
                      updateOptions();
                      clicked = false;
                      clicked1 = true;
                      clicked2 = false;
                      clicked3 = false;
                      clicked4 = false;
                       clicked5 = false;
                    " [ngClass]="{ active: clicked1 === true }">
                                <input class="d-none d-sm-none" name="options" type="radio" />

                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                   High
                                </span>
                               
                            </label>
                            <label class="btn btn-sm btn-danger btn-simple" (click)="
                      data = datasets[2];
                      updateOptions();
                      clicked = false;
                      clicked1 = false;
                      clicked2 = true;
                      clicked3 = false;
                      clicked4 = false;
                      clicked5 = false;
                    " [ngClass]="{ active: clicked2 === true }">
                                <input class="d-none" name="options" type="radio" />

                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                  Low
                                </span>
                               
                            </label>
                            <label class="btn btn-sm btn-danger btn-simple" (click)="
                      data = datasets[3];
                      updateOptions();
                      clicked = false;
                      clicked1 = false;
                      clicked2 = false;
                      clicked3 = true;
                      clicked4 = false;
                      clicked5 = false;
                    " [ngClass]="{ active: clicked3 === true }">
                                <input class="d-none" name="options" type="radio" />

                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                  Close*
                                </span>
                            
                            </label>
                            <label class="btn btn-sm btn-danger btn-simple" (click)="
                      data = datasets[4];
                      updateOptions();
                      clicked = false;
                      clicked1 = false;
                      clicked2 = false;
                      clicked3 = false;
                      clicked4 = true;
                      clicked5 = false;
                    " [ngClass]="{ active: clicked4 === true }">
                                <input class="d-none" name="options" type="radio" />

                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                  Adj_Close**
                                </span>
                                
                            </label>

                    <label class="btn btn-sm btn-danger btn-simple" (click)="
                    data = datasets[5];
                    updateOptions();
                    clicked = false;
                    clicked1 = false;
                    clicked2 = false;
                    clicked3 = false;
                    clicked4 = false;
                    clicked5 = true; " [ngClass]="{ active: clicked5 === true }">
                        <input class="d-none" name="options" type="radio" />
                    
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
                            Volume
                        </span>
                      
                    </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="border-color: ivory;">
                <div class="chart-area">
                    <canvas id="chartBig1"> </canvas>
                </div>
            </div>
            <!-- <div *ngIf="!branchselect" class="card-body" style="border-color: ivory;">
                <div class="card__overlay">
                    <div class="overlay__text">
                        <img src="../../assets/icons/lock1.svg" width="70px" />
                        <h3>Select branch and year to unlock charts</h3>
                        <p>Reviews Chart</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="text-center dis">
<p style="margin-top: 20px;">
In this application I have used Angular as a frontend, Node.js as a backend and MongoDB Cloud as a database. When you
upload a csv file using the above file upload, the data in the file is extracted and stored in a array which is later
sent to Node.js using API endpoint. Later Node.js stores this data into mongoDB and gets the data upon request from the
angular to display in the graph.<br/><br />


    <strong>Usage:</strong><br />
    1. You can upload a csv file by clicking on the dropbox. <br />
    2. Later select "initiate graph" to see the uploaded data in a graphical format.<br />
    3. You can use the top right buttons allows the user to choose which graph to plot.<br /><br />

    This application was built by Kameswara Saidatta Srinivas Peddada.<br />
    My portfolio: <a href="https://srpeddada.com">https://srpeddada.com</a>
<br /><br /><br />

</p>
    </div>